li {

    list-style-type: none;
    margin: 5px;
    border-radius: 2px;
}

li span:hover {
    background: rgba(240, 229, 229, 0.35);
    border-radius: 5px;
}

span.suggestions {
    cursor: pointer;
    width: 80%;
    float: left;
}